.balance {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.balanceWrapper {
    background-color: var(--color-grey-light-2);
    width: 450px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
}

.balanceAmount {
    margin: 0 10px 0 10px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.logoImage {
    height: 8rem;
}
